<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ab7030b-dfaf-4a2c-9b42-b48cc65aac78/resourcegroups/cloud-shell-storage-centralindia/providers/Microsoft.Web/sites/ApiManagmementTesting</ResourceId>
    <ResourceGroup>cloud-shell-storage-centralindia</ResourceGroup>
    <ApiResourceId>/subscriptions/4ab7030b-dfaf-4a2c-9b42-b48cc65aac78/resourceGroups/cloud-shell-storage-centralindia/providers/Microsoft.ApiManagement/service/ApiManagmementapi/apis/ApiManagmement</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apimanagmementtesting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>89fd1413-1783-4ca5-9828-496d35788e56</ProjectGuid>
    <MSDeployServiceURL>apimanagmementtesting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiManagmementTesting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiManagmementTesting</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>